## Notes from Kaggle's "Pandas" microcourse

In [4]:
import pandas as pd

There are two core objects in pandas: the *DataFrame* and the *Series*. 

**DataFrame**: Table that consists of an array of individual *entries*, each of which have a certain *value*. Each entry corresponds to a row (or *record*) and a *column*. 

Creating a DataFrame is similar to creating a dictionary, whose keys are the column names and whose values are a list of entries:

In [5]:
pd.DataFrame({'Bob': ['Yes', 'No'], 'Sue': ['Yes', "Maybe"]})

   Bob    Sue
0  Yes    Yes
1   No  Maybe

In [6]:
#To replace the indices with *row labels*:
pd.DataFrame({'Bob': ['Yes', 'No'], 'Sue': ['Yes', 'Maybe']}, index=['Product A', 'Product B'])

           Bob    Sue
Product A  Yes    Yes
Product B   No  Maybe

In [8]:
#Can also output the same DataFrame using this formatting, 
#[List of rows], columns = [], index=[]
pd.DataFrame([['Yes', 'Yes'], ['No', 'Maybe']], columns=['Bob', 'Sue'], index=['Product A', 'Product B'])

           Bob    Sue
Product A  Yes    Yes
Product B   No  Maybe

**Series**: Sequence of data values (like a list), with only one column of entries.

In [9]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [10]:
#Can rename the indices with row labels with an overall name: 
pd.Series([1, 2, 3], index=['Look', 'What I', 'Can Do'], name='Test Series')

Look      1
What I    2
Can Do    3
Name: Test Series, dtype: int64

<br>
Reading data files & other useful commands:

In [ ]:
#Import csv file 
data = pd.read_csv('...')

#Shape of DataFrame
data.shape 

#First five lines, unless otherwise indiciated 
data.head() 

#Save DataFrame as csv
pd.data.to_csv('filename.csv')